# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environment folders
venv/
env/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore API/environment files (even if you are not using them now)
.env
*.env

# Ignore all CSVs EXCEPT the ones needed for the project
*.csv
!data/dummy_products_q1.csv
!data/myntra_scraped_q2.csv
